@import 'colors';

.modal {
  // modal
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  background: rgba(200,200, 200, 0.2);

  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    background: @col-dark;
    border-radius: 10px;
    box-shadow: 1px 1px 3px @col-dark;
    max-width: calc(95% - 40px);
    min-width: 50%;
    padding: 5px 20px;
    max-height: 80vh;

    h1 {
      width: 100%;
      text-align: center;
      padding-bottom: 5px;
      border-bottom: 1px @col-primary solid;
    }

    .inner {
      position: relative;
      margin: 5px;
      padding: 10px 0;
      overflow: auto;
      max-width: 100%;
      width: 100%;
      flex-grow: 1;

      button {
        height: auto;
      }
    }
  }
}